.site-footer {
	font-size: var(--font-scale-8--size------mobile);
	line-height: var(--font-scale-8--height------mobile);
	letter-spacing: var(--font-scale-8--kerning------mobile);
	@include media( '>medium' ) {
		font-size: var(--font-scale-8--size------desktop);
		line-height: var(--font-scale-8--height------desktop);
		letter-spacing: var(--font-scale-8--kerning------desktop);
	}
	background: var(--color--typography-1);
	//color: var(--color--typography-2);

	a {
		@include anchor-aspect(footer);
	}
}

.site-footer-inner {
	padding-top: 48px;
	padding-bottom: 32px;
}

.footer-brand,
.footer-social-links,
.footer-bottom-links,
.footer-copyright {
	display: flex;
	justify-content: center;
}

.footer-brand img {
	height: 34px;
	display: inline-block;
}

.footer-social-links,
.footer-bottom-links {
	li + li {
		margin-left: 16px;
	}
}

.footer-social-links {
	margin-left: -8px;

	li {
		display: inline-flex;

		a {
			padding: 8px;
		}
	}
}

.site-footer-unit-inner {
	padding-top: 32px;
	border-top: 2px solid var(--color--typography-2);
}

.footer-title {
	color: var(--color--typography-1i);
	font-weight: var(--font-weight--bold);
	text-transform: uppercase;
}

.footer-top-links {
	ul {
		margin-bottom: 32px;
	}

	li {
		margin-bottom: 12px;
	}

	a {
		color: var(--color--typography-4);
	}
}

.site-footer-bottom {
	margin-top: 48px;
}

@include media( '<=medium' ) {
	.site-footer-unit:first-of-type {
		.site-footer-unit-inner {
			padding-top: 0;
			border-top: none;
		}
	}
}

@include media( '>medium' ) {
	.site-footer-inner {
		padding-top: 56px;
	}

	.site-footer-top {
		display: flex;
		flex-wrap: wrap;
		margin-right: -12px;
		margin-left: -12px;
		margin-top: -12px;

		&:last-of-type {
			margin-bottom: -12px;
		}

		&:not(:last-of-type) {
			margin-bottom: 12px;
		}
	}

	.site-footer-unit {
		padding: 12px;
		flex-basis: 276px;
		flex-grow: 1;
	}

	.footer-brand,
	.footer-social-links {
		justify-content: flex-start;
	}

	.site-footer-bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 20px;
	}

	.footer-bottom-links {
		margin-bottom: 0;
		order: 1;
	}
}
