.site-header {
	padding: 24px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.site-header-inner {
	position: relative; /* To display all elements above the background color */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-link {
	display: flex;
}

.header-link img {
	display: inline-block;
	max-height: 48px;
}

.header-links {
	display: inline-flex;

	li {
			display: inline-flex;
	}

	a:not(.button) {
		font-size: var(--font-scale-7--size------mobile);
		line-height: var(--font-scale-7--height------mobile);
		letter-spacing: var(--font-scale-7--kerning------mobile);
		@include media( '>medium' ) {
			font-size: var(--font-scale-7--size------desktop);
			line-height: var(--font-scale-7--height------desktop);
			letter-spacing: var(--font-scale-7--kerning------desktop);
		}
		font-weight: (--font-weight--semibold);
		@include anchor-aspect(header);
		line-height: 16px;
		padding: 8px 24px;
	}
}
