.site-header {
	padding: 24px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.site-header-inner {
	position: relative; /* To display all elements above the background color */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-link {
	display: flex;
}

.header-link img {
	display: inline-block;
	max-height: 48px;
}

.header-links {
	display: inline-flex;
}

.header-links li {
	display: inline-flex;
}

.header-links a:not(.button) {
	font-size: var(--font-scale-7--size);
	line-height: var(--font-scale-7--height);
	letter-spacing: var(--font-scale-7--kerning);
	font-weight: var(--font-weight--semibold);
	color: var(--color--typography-2i);
	text-transform: uppercase;
	text-decoration: none;
	line-height: 16px;
	padding: 8px 24px;
}

.header-links a:not(.button):hover,
.header-links a:not(.button):active {
	color: var(--color--typography-1i);
}
