.is-boxed {
	background: var(--color--bg-1);
}

.body-wrap {
	background: var(--color--bg-1);
	overflow: hidden;
	/* Sticky footer */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.boxed-container {
	max-width: 1440px;
	margin: 0 auto;
	// Dark Mode!
	// box-shadow: 0 20px 48px rgba(darken($color--bg-1, 35%), .2);
	box-shadow: 0 20px 48px rgba($color--typography-1, .16);
}

main {
	flex: 1 0 auto;
}

.section-inner {
	position: relative; /* To always display inner elements above pseudo decorative stuff */
	padding-top: 48px;
	padding-bottom: 48px;
}

@include media( '>medium' ) {
	.section-inner {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}
