.team-header {
	margin-bottom: 32px;
}

.team-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-top: -16px;

	&:last-of-type {
		margin-bottom: -16px;
	}

	&:not(:last-of-type) {
		margin-bottom: 16px;
	}
}

.member {
	padding: 16px 0;
}

.member-image {
	margin-bottom: 24px;

	img, svg {
		width: 100%;
		max-width: 200px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		overflow: visible;
		// Dark Mode!
		// box-shadow: 0 20px 48px rgba(darken($color--bg-1, 35%), .2);
		box-shadow: 0 20px 48px rgba($color--typography-1, .16);
	}
}

.member-body {
	text-align: center;
}

@include media( '>medium' ) {
	.team {
		.container {
			/* image width (360) + padding (48) + text width (360) = 828 */
			max-width: 828px + ( $content-padding--desktop * 2 );
		}

		.section-inner {
			padding-bottom: 102px;
		}

		.section-paragraph {
			padding-left: 72px;
			padding-right: 72px;
			margin-bottom: 0;
		}
	}

	.team-header {
		margin-bottom: 80px;
	}

	.team-wrap {
		margin-top: -40px;

		&:last-of-type {
			margin-bottom: -40px;
		}

		&:not(:last-of-type) {
			margin-bottom: 40px;
		}
	}

	.member {
		display: flex;
		flex-wrap: nowrap;
		align-items: stretch;
		justify-content: flex-end;
		padding: 40px 0;

		.member-image {
			margin-right: 48px;
			margin-bottom: 0;

			img,
			svg {
				width: auto;
				max-width: 160px;
				margin-left: 0;
			}
		}

		&:nth-child(odd) {
			justify-content: flex-start;

			.member-image {
				order: 1;
				margin-left: 48px;
				margin-right: 0;

				img,
				svg {
					margin-left: auto;
					margin-right: 0;
				}
			}
		}
	}

	.member-body {
		/* Align vertically */
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* Align vertically, end */
		flex-shrink: 0;
		width: 60%;
		text-align: left;
	}
}

@include media( '>large' ) {
	.team {
		.container {
			/* image width (420) + padding (48) + text width (480) = 828 */
			max-width: 948px + ( $content-padding--desktop * 2 );
		}
	}

	.member-body {
		width: 640px;
	}

	.member .member-image {
		margin-bottom: 0;

		img,
		svg {
			width: auto;
			max-width: 200px;
			margin-left: 0;
		}
	}
}
