.enterprise-image-block-item {
	padding: 4rem 0;
}

.enterprise-contact {
	display: block;
	background-color: var(--color--bg-2) !important;
}

.enterprise-form {
	width: 60%;
}

.enterprise-form-header {
	max-width: 30%;
}

.enterprise-input {
	margin: 1rem 0;
}

.enterprise-input--label {
	color: var(--color--primary-4);
	display: block;
}

.enterprise-input--input {
	width: 300px;
	background-color: rgba(255, 255, 255, 0.1);
	border: none;
	color: var(--color--typography-1i);
}

.enterprise-input--input::placeholder {
	color: var(--color--typography-3);
}

.enterprise-submit {
	background-color: var(--color--primary-1);
	border: 1px solid var(--color--typography-3);
	border-radius: 50px;
	padding: 6px 24px;
	color: var(--color--typography-1i);
}

.enterprise-submit:hover {
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
}

.enterprise-input-message {
	max-width: 80%;
	max-height: 300px; /* Note: rem does not work here for some reason */
}

.enterprise-email {
	color: var(--color--primary-4);
}

.enterprise-email-link {
	color: var(--color--primary-4) !important;
	text-decoration: underline;
}
