.features-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: -12px;
	margin-left: -12px;
	margin: 40px auto;
}

.feature {
	padding: 16px 12px;
	max-width: 364px;
	flex-grow: 1;
}

.feature-inner {
	height: 100%;
}

.feature-icon {
	display: flex;
	justify-content: center;
}

/* media::>medium */
@media (min-width: 641px) {
	.features-illustration {
		margin-bottom: 64px;
	}

	.feature {
		padding: 32px 24px;
		max-width: 388px;
	}
}
