.site-footer {
	font-size: var(--font-scale-8--size);
	line-height: var(--font-scale-8--height);
	letter-spacing: var(--font-scale-8--kerning);
	background: var(--color--typography-1);

	/* color: var(--color--typography-2); */
}

.site-footer a {
	color: var(--color--typography-3);
	text-decoration: none;
}

.site-footer a:hover,
.site-footer a:active {
	text-decoration: underline;
}

.site-footer-inner {
	padding-top: 48px;
	padding-bottom: 32px;
	text-align: center;
}

.footer-brand,
.footer-social-links,
.footer-bottom-links,
.footer-copyright {
	display: flex;
	justify-content: center;
}

.footer-brand img {
	height: 34px;
	display: inline-block;
}

.footer-social-links {
	margin-left: -8px;
}

.footer-social-links li {
	display: inline-flex;
}

/* stylelint-disable-next-line no-descending-specificity */
.footer-social-links li a {
	padding: 8px;
}

.footer-social-links li + li,
.footer-bottom-links li + li {
	margin-left: 16px;
}

.site-footer-unit-inner {
	padding-top: 32px;
	border-top: 2px solid var(--color--typography-2);
}

.footer-title {
	color: var(--color--typography-1i);
	font-weight: var(--font-weight--bold);
	text-transform: uppercase;
}

.footer-top-links ul {
	margin-bottom: 32px;
}

/* stylelint-disable-next-line no-descending-specificity */
.footer-top-links li {
	margin-bottom: 12px;
}

/* stylelint-disable-next-line no-descending-specificity */
.footer-top-links a {
	color: var(--color--typography-4);
}

.site-footer-bottom {
	margin-top: 48px;
}

/* media::<=medium */
@media (max-width: 640px) {
	.site-footer-unit:first-of-type .site-footer-unit-inner {
		padding-top: 0;
		border-top: none;
	}
}

/* media::>medium */
@media (min-width: 641px) {
	.site-footer-inner {
		padding-top: 56px;
	}

	.site-footer-top {
		display: flex;
		flex-wrap: wrap;
		margin-right: -12px;
		margin-left: -12px;
		margin-top: -12px;
	}

	.site-footer-top:last-of-type {
		margin-bottom: -12px;
	}

	.site-footer-top:not(:last-of-type) {
		margin-bottom: 12px;
	}

	.site-footer-unit {
		padding: 12px;
		flex-basis: 276px;
		flex-grow: 1;
	}

	.footer-brand,
	.footer-social-links {
		justify-content: flex-start;
	}

	.site-footer-bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 20px;
	}

	.footer-bottom-links {
		margin-bottom: 0;
		order: 1;
	}
}

@media (min-width: 1025px) {
	.sit-footer-inner {
		text-align: initial;
	}
}
