.image-block-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-top: -16px;
}

.image-block-wrap:last-of-type {
	margin-bottom: -16px;
}

.image-block-wrap:not(:last-of-type) {
	margin-bottom: 16px;
}

.image-block-item {
	padding: 16px 0;
}

.image-block-item-image {
	margin-bottom: 24px;
}

.image-block-item-image img,
.image-block-item-image svg {
	width: 100%;
	max-width: 200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: visible;

	@apply .shadow;
}

.image-block-item-body {
	text-align: center;
}

/* media::>medium */
@media (min-width: 641px) {
	.image-block .container {
		/* image width (360) + padding (48) + text width (360) = 828
		/* Add 24px * 2 for padding
		/* contentPadding::desktop */
		max-width: 876px;
	}

	.image-block .section-inner {
		padding-bottom: 102px;
	}

	.image-block .section-paragraph {
		padding-left: 72px;
		padding-right: 72px;
		margin-bottom: 0;
	}

	.image-block-header {
		margin-bottom: 80px;
	}

	.image-block-wrap {
		margin-top: -40px;
	}

	.image-block-wrap:last-of-type {
		margin-bottom: -40px;
	}

	.image-block-wrap:not(:last-of-type) {
		margin-bottom: 40px;
	}

	.image-block-item {
		display: flex;
		flex-wrap: nowrap;
		align-items: stretch;
		justify-content: flex-end;
		padding: 40px 0;
	}

	.image-block-item .image-block-item-image {
		margin-right: 48px;
		margin-bottom: 0;
	}

	.image-block-item .image-block-item-image img,
	.image-block-item .image-block-item-image svg {
		width: 100%;
		max-width: 160px;
		margin-left: 0;
	}

	.image-block-item:nth-child(odd) {
		justify-content: flex-start;
	}

	.image-block-item:nth-child(odd) .image-block-item-image {
		order: 1;
		margin-left: 48px;
		margin-right: 0;
	}

	.image-block-item:nth-child(odd) .image-block-item-image img,
	.image-block-item:nth-child(odd) .image-block-item-image svg {
		margin-left: auto;
		margin-right: 0;
	}

	.image-block-item-body {
		/* Align vertically */
		display: flex;
		flex-direction: column;
		justify-content: center;

		/* Align vertically, end */
		flex-shrink: 0;
		width: 60%;
		text-align: left;
	}
}

/* media::>large */
@media (min-width: 1025px) {
	.image-block .container {
		/* image width (420) + padding (48) + text width (480) = 948
		/* Add 24px * 2 for padding
		/* contentPadding::desktop */
		max-width: 996px;
	}

	.image-block-item-body {
		width: 640px;
	}

	.image-block-item .image-block-item-image {
		margin-bottom: 0;
	}

	.image-block-item .image-block-item-image img,
	.image-block-item .image-block-item-image svg {
		width: 100%;
		max-width: 200px;
		margin-left: 0;
	}
}
