.is-boxed {
	background: var(--color--bg-1);
}

.body-wrap {
	background: var(--color--bg-1);
	overflow: hidden;

	/* Sticky footer */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.boxed-container {
	max-width: 1440px;
	margin: 0 auto;

	/* Dark Mode!
	/* box-shadow: 0 20px 48px rgba(166, 166, 166, 0.2); (darken color--bg-1 35%) */
	box-shadow: 0 20px 48px color(var(--color--typography-1) a(16%));
}

main {
	flex: 1 0 auto;
}

.section-inner {
	position: relative; /* To always display inner elements above pseudo decorative stuff */
	padding-top: 48px;
	padding-bottom: 48px;
}

/* media::>medium */
@media (min-width: 641px) {
	.section-inner {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}
