.pricing {
	background: var(--color--typography-1);
	color: var(--color--typography-4);
}

.pricing .section-title {
	margin-bottom: 48px;
}

.pricing-tables-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: -12px;
	margin-left: -12px;
	margin-top: -12px;
}

.pricing-tables-wrap:last-of-type {
	margin-bottom: -12px;
}

.pricing-tables-wrap:not(:last-of-type) {
	margin-bottom: 12px;
}

.pricing-table {
	padding: 12px;
	width: 368px;
	max-width: 368px;
	flex-grow: 1;
}

.pricing-table-inner {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background: var(--color--typography-2);
	padding: 24px;
	height: 100%;
}

.pricing-table-inner > * {
	width: 100%;
}

.pricing-table-header {
	border-bottom: 1px dashed var(--color--typography-3);
}

.pricing-table-price {
	font-family: var(--font-family--heading);
	color: var(--color--bg-1);
}

.pricing-table-price-currency {
	font-size: var(--font-scale-3--size);
	line-height: var(--font-scale-3--height);
	letter-spacing: var(--font-scale-3--kerning);
}

.pricing-table-features-title {
	color: var(--color--typography-1i);
}

.pricing-table-features {
	margin-bottom: 64px;
}

.pricing-table-features li {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

.pricing-table-features li::before {
	content: '';
	width: 16px;
	height: 13px;
	margin-right: 12px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICA8cGF0aCBkPSJNNS42IDhMMi40IDQuOCAwIDcuMmw1LjYgNS42TDE2IDIuNCAxMy42IDB6IiBmaWxsPSIjNUFFMEQyIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
	background-repeat: no-repeat;
}

.pricing-table-cta {
	align-self: flex-end;
}

/* media::>medium */
@media (min-width: 641px) {
	.pricing .section-title {
		margin-bottom: 80px;
	}
}
