.team-header {
	margin-bottom: 32px;
}

.team-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-top: -16px;
}

.team-wrap:last-of-type {
	margin-bottom: -16px;
}

.team-wrap:not(:last-of-type) {
	margin-bottom: 16px;
}

.member {
	padding: 16px 0;
}

.member-image {
	margin-bottom: 24px;
}

.member-image img,
.member-image svg {
	width: 100%;
	max-width: 200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: visible;

	/* Dark Mode!
	/* box-shadow: 0 20px 48px rgba(166, 166, 166, 0.2); (darken color--bg-1 35%) */
	--color--typography-1--opacity: 0.16;

	box-shadow: 0 20px 48px var(--color--typography-1);
}

.member-body {
	text-align: center;
}

/* media::>medium */
@media (min-width: 641px) {
	.team .container {
		/* image width (360) + padding (48) + text width (360) = 828
		/* Add 24px * 2 for padding
		/* contentPadding::desktop */
		max-width: 876px;
	}

	.team .section-inner {
		padding-bottom: 102px;
	}

	.team .section-paragraph {
		padding-left: 72px;
		padding-right: 72px;
		margin-bottom: 0;
	}

	.team-header {
		margin-bottom: 80px;
	}

	.team-wrap {
		margin-top: -40px;
	}

	.team-wrap:last-of-type {
		margin-bottom: -40px;
	}

	.team-wrap:not(:last-of-type) {
		margin-bottom: 40px;
	}

	.member {
		display: flex;
		flex-wrap: nowrap;
		align-items: stretch;
		justify-content: flex-end;
		padding: 40px 0;
	}

	.member .member-image {
		margin-right: 48px;
		margin-bottom: 0;
	}

	.member .member-image img,
	.member .member-image svg {
		width: auto;
		max-width: 160px;
		margin-left: 0;
	}

	.member:nth-child(odd) {
		justify-content: flex-start;
	}

	.member:nth-child(odd) .member-image {
		order: 1;
		margin-left: 48px;
		margin-right: 0;
	}

	.member:nth-child(odd) .member-image img,
	.member:nth-child(odd) .member-image svg {
		margin-left: auto;
		margin-right: 0;
	}

	.member-body {
		/* Align vertically */
		display: flex;
		flex-direction: column;
		justify-content: center;

		/* Align vertically, end */
		flex-shrink: 0;
		width: 60%;
		text-align: left;
	}
}

/* media::>large */
@media (min-width: 1025px) {
	.team .container {
		/* image width (420) + padding (48) + text width (480) = 948
		/* Add 24px * 2 for padding
		/* contentPadding::desktop */
		max-width: 996px;
	}

	.member-body {
		width: 640px;
	}

	.member .member-image {
		margin-bottom: 0;
	}

	.member .member-image img,
	.member .member-image svg {
		width: auto;
		max-width: 200px;
		margin-left: 0;
	}
}
