.team-header {
	margin-bottom: 32px;
}

/* media::>medium */
@media (min-width: 641px) {
	.team .container {
		/* image width (360) + padding (48) + text width (360) = 828
		/* Add 24px * 2 for padding
		/* contentPadding::desktop */
		max-width: 876px;
	}

	.team .section-inner {
		padding-bottom: 102px;
	}

	.team .section-paragraph {
		padding-left: 72px;
		padding-right: 72px;
		margin-bottom: 0;
	}

	.team-header {
		margin-bottom: 80px;
	}
}

/* media::>large */
@media (min-width: 1025px) {
	.team .container {
		/* image width (420) + padding (48) + text width (480) = 948
		/* Add 24px * 2 for padding
		/* contentPadding::desktop */
		max-width: 996px;
	}
}
