.testimonials .section-title {
	margin-bottom: 48px;
}

.testimonials-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: -12px;
	margin-left: -12px;
	margin-top: -12px;
}

.testimonials-wrap:last-of-type {
	margin-bottom: -12px;
}

.testimonials-wrap:not(:last-of-type) {
	margin-bottom: 12px;
}

.testimonial {
	padding: 12px;
	width: 368px;
	max-width: 368px;
	flex-grow: 1;
}

.testimonial-inner {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background: var(--color--bg-1);
	padding: 32px 24px;
	height: 100%;

	/* Dark Mode!
	/* box-shadow: 0 20px 48px rgba(166, 166, 166, 0.2); (darken color--bg-1 35%) */
	--color--typography-1--opacity: 0.16;

	box-shadow: 0 20px 48px var(--color--typography-1);
}

.testimonial-inner > * {
	width: 100%;
}

.testimonial-footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.testimonial-image {
	width: 40px;
	height: 40px;
	margin-right: 12px;
}

.testimonial-image img {
	border-radius: 20px;
}

.testimonial-name {
	color: var(--color--typography-1);
}

/* media::>medium */
@media (min-width: 641px) {
	.testimonials .section-title {
		margin-bottom: 80px;
	}
}
