<a
	class="js-auth-redirect button button-primary button-wide-mobile login-button hero-cta"
	href="{{site.auth}}/api/v0/session/begin?gb-login"
>
	Get Started
	<span class="no-sr">
		{{inline-svg "/static/images/arrow-right.svg"}}
	</span>
</a>
