### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
build/

# Optional eslint cache
.eslintcache
.cache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# Workspace files are user-specific
*.vscode

# Static built files
dist/
*.cachebust-manifest
