{
	"rules": {
		"declaration-block-no-duplicate-custom-properties": null,
		"block-no-empty": true,
		"color-hex-case": "lower",
		"color-hex-length": "short",
		"color-no-invalid-hex": true,
		"declaration-colon-space-after": "always-single-line",
		"max-empty-lines": 2,
		"indentation": "tab",
		"alpha-value-notation": "number",
		"custom-property-pattern": null,
		"selector-class-pattern": null,
		"function-no-unknown": null
	},
	"extends": "stylelint-config-standard"
}
