---
fullTitle: The Gradebook Blog
description: Thoughts and updates from the Gradebook team
pagination:
  data: collections.posts
  size: 2
  alias: posts
permalink: "/blog{{#if pagination.pageNumber}}/page/{{offset pagination.pageNumber}}{{/if}}/index.html"
---
{{> "ghost"}}

{{#block "hero"}}
	<div class="container-sm">
		<div class="hero-inner">
			<div class="hero-copy">
				<h1 class="gb-header hero-paragraph">{{fullTitle}}</h1>
				{{!-- @todo: no inline styles! --}}
				<p class="hero-paragraph" style="font-size: 20px">{{description}}</p>
			</div>
		</div>
	</div>
{{/block}}

<div class="gh-page">
	<div class="gh-container">
		<div class="gh-postfeed">
			{{#each posts}}
				{{> "post-card"}}
			{{/each}}
		</div>
	</div>
</div>

{{> "pagination" }}
