html {
	font-size: var(--font-scale-5--size);
	line-height: var(--font-scale-5--height);
}

body {
	color: var(--color--typography-3);
	font-size: 1rem;
}

body,
button,
input,
select,
textarea {
	font-family: var(--font-family--base);
}

a {
	color: var(--color--primary-1);
	text-decoration: none;
}

a:hover,
a:active {
	outline: 0;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	clear: both;
	color: var(--color--typography-1);
	font-family: var(--font-family--heading);
	font-weight: var(--font-weight--semibold);
}

h1, .h1 {
	font-size: var(--font-scale-1--size);
	line-height: var(--font-scale-1--height);
	letter-spacing: var(--font-scale-1--kerning);
}

h2, .h2 {
	font-size: var(--font-scale-2--size);
	line-height: var(--font-scale-2--height);
	letter-spacing: var(--font-scale-2--kerning);
}

h3, .h3,
blockquote {
	font-size: var(--font-scale-3--size);
	line-height: var(--font-scale-3--height);
	letter-spacing: var(--font-scale-3--kerning);
}

h4, .h4
h5, .h5
h6, .h6 {
	font-size: var(--font-scale-4--size------mobile);
	line-height: var(--font-scale-4--height------mobile);
	letter-spacing: var(--font-scale-4--kerning------mobile);
}

// media::>medium
@media (min-width: 641px ) {
	h4, .h4
	h5, .h5
	h6, .h6 {
		font-size: var(--font-scale-4--size------desktop);
		line-height: var(--font-scale-4--height------desktop);
		letter-spacing: var(--font-scale-4--kerning------desktop);
	}
}

.text-light {
	color: var(--color--typography-3);
}

.text-light a {
	color: var(--color--typography-3);
}

.text-light h1, .text-light .h1
.text-light h2, .text-light .h2
.text-light h3, .text-light .h3
.text-light h4, .text-light .h4
.text-light h5, .text-light .h5
.text-light h6, .text-light .h6 {
	color: var(--color--typography-1i) !important;
}

.text-sm {
	font-size: var(--font-scale-6--size------mobile);
	line-height: var(--font-scale-6--height------mobile);
	letter-spacing: var(--font-scale-6--kerning------mobile);
}

// media::>medium
@media (min-width: 641px ) {
	.text-sm {
		font-size: var(--font-scale-6--size------desktop);
		line-height: var(--font-scale-6--height------desktop);
		letter-spacing: var(--font-scale-6--kerning------desktop);
	}
}

.text-xs {
	font-size: var(--font-scale-7--size------mobile);
	line-height: var(--font-scale-7--height------mobile);
	letter-spacing: var(--font-scale-7--kerning------mobile);
}

// media::>medium
@media (min-width: 641px ) {
	.text-xs {
		font-size: var(--font-scale-7--size------desktop);
		line-height: var(--font-scale-7--height------desktop);
		letter-spacing: var(--font-scale-7--kerning------desktop);
	}
}

h1, h2,
.h1, .h2 {
	margin-top: 48px;
	margin-bottom: 16px;
}

h3, .h3 {
	margin-top: 36px;
	margin-bottom: 12px;
}

h4, h5, h6,
.h4, .h5, .h6 {
	margin-top: 24px;
	margin-bottom: 4px;
}

p {
	margin-top: 0;
	margin-bottom: 24px;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	color: var(--color--typography-2);
	font-style: italic;
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 24px;
}

blockquote::before {
	content: "\201C";
}

blockquote::after {
	content: "\201D";
}

blockquote p {
	display: inline;
}

address {
	color: var(--color--typography-2);
	border-width: 1px 0;
	border-style: solid;
	border-color: var(--color--bg-3);
	padding: 24px 0;
	margin: 0 0 24px;
}

pre,
pre h1,
pre h2,
pre h3,
pre h4,
pre h5,
pre h6,
pre .h1,
pre .h2,
pre .h3,
pre .h4,
pre .h5,
pre .h6 {
	font-family: var(--font-family--pre);
}

pre, code, kbd, tt, var {
	background: var(--color--bg-2);
}

pre {
	font-size: var(--font-scale-7--size------mobile);
	line-height: var(--font-scale-7--height------mobile);
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 24px;
	margin-top: 24px;
	margin-bottom: 24px;
}

code, kbd, tt, var {
	font-family: var(--font-family--code);
	font-size: var(--font-scale-7--size------mobile);
	padding: 2px 4px;
}

abbr, acronym {
	cursor: help;
}

mark, ins {
	text-decoration: none;
}

small {
	font-size: var(--font-scale-6--size------mobile);
	line-height: var(--font-scale-6--height------mobile);
	letter-spacing: var(--font-scale-6--kerning------mobile);
}

b,
strong {
	font-weight: var(--font-weight--semibold);
}

button,
input,
select,
textarea,
label {
	font-size: var(--font-scale-5--size);
	line-height: var(--font-scale-5--height);
}
