// --------------------------------------------
// Colors -------------------------------------
// Usage example: color(primary, main)
// --------------------------------------------
$color: (
	typography: (
		1: #1a202c,
		2: #272c38,
		3: #8A95A5,
		4: #9EABC0,
		1i: #DDDBF1,
		2i: rgba( #DDDBF1, .8 )
	),
	bg: (
		1: #FFFFFF,
		2: #F3F5F8,
		3: #E4E8EE
	),
	primary: (
//		1: #7E6EE6,
		1: #5E3B4D,
		2: #A59AEE,
		3: #5743DF,
		4: #E5E1FF
 	),
	secondary: (
		1: #5AE0D2,
		2: #85E8DE,
		3: #2FD8C6,
		4: #BDFDF6
	)
);

// --------------------------------------------
// Typography ---------------------------------
// --------------------------------------------
$font__family: (
	base: '"Heebo", sans-serif', // font-family(base)
	heading: '"PLayfair Display", sans-serif', // font-family(heading)
	code: 'Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace', // font-family(code)
	pre: '"Courier 10 Pitch", Courier, monospace' // font-family(pre)
);

$font__sizes: (
	alpha:   ( 44px, 54px, 0px ),    // font-size, line-height, kerning (use '0' if don't want to output any kerning)
	beta:    ( 34px, 44px, 0px ),
	gamma:   ( 30px, 40px, 0px ),
	delta:   ( 24px, 34px, 0px ),
	epsilon: ( 20px, 30px, -0.1px ),
	zeta:    ( 18px, 28px, -0.1px ),
	eta:     ( 16px, 24px, -0.1px ),
	theta:   ( 14px, 20px, 0px )
);

$font__scale: (
	desktop: (                             // i.e. $breakpoint__m + $breakpoint__l (600 - 1024)
		1: map-get($font__sizes, alpha),   // H1
		2: map-get($font__sizes, beta),    // H2
		3: map-get($font__sizes, gamma),   // H3
		4: map-get($font__sizes, delta),   // H4
		5: map-get($font__sizes, epsilon), // Body, H5, H6
		6: map-get($font__sizes, zeta),    // Text small
		7: map-get($font__sizes, eta),     // Text smaller
		8: map-get($font__sizes, theta)    // Footer area
	),
	mobile: (                              // i.e. $breakpoint__xs + $breakpoint__s (up to 600)
		1: map-get($font__sizes, beta),    // H1
		2: map-get($font__sizes, gamma),   // H2
		3: map-get($font__sizes, delta),   // H3
		4: map-get($font__sizes, delta),   // H4
		5: map-get($font__sizes, epsilon), // Body, H5, H6
		6: map-get($font__sizes, zeta),    // Text small
		7: map-get($font__sizes, eta),     // Text smaller
		8: map-get($font__sizes, theta)    // Footer area
	)
);

$font__weight: (
	regular: 400, 	// font__weight(regular)
	medium: 500,	// font__weight(medium)
	semibold: 600,	// font__weight(semibold)
	bold: 700		// font__weight(bold)
);

// --------------------------------------------
// Structure ----------------------------------
// --------------------------------------------
$content__padding: (
	mobile: 16px,
	desktop:  24px
);
$container__width: 1080px;
$container__width-sm: 800px;
