$color--typography-1:#1a202c;
$color--typography-2:#272c38;
$color--primary-1:#5E3B4D;
$color--secondary-1:#5AE0D2;

:root {
	// COLOR TYPOGRAPHY
	--color--typography-1: $color--typography-1;
	--color--typography-2: $color--typography-2;
	--color--typography-3: #8A95A5;
	--color--typography-4: #9EABC0;
	--color--typography-1i: #DDDBF1;
	--color--typography-12i: rgba( #DDDBF1, .8 );
	// COLOR BG
	--color-bg-1: #FFFFFF;
	--color-bg-2: #F3F5F8;
	--color-bg-3: #E4E8EE;
	// PRIMARY COLORS
	--color-primary-1: #7E6EE6;
	--color-primary-1: $color--primary-1;
	--color-primary-2: #A59AEE;
	--color-primary-3: #5743DF;
	--color-primary-4: #E5E1FF;
	// SECONDARY COLORS
	--color-secondary-1: $color--secondary-1;
	--color-secondary-2: #85E8DE;
	--color-secondary-3: #2FD8C6;
	--color-secondary-4: #BDFDF6;

	//FONT FAMILIES
	--font-family--base: "Heebo", sans-serif;
	--font-family--heading: "PLayfair Display", sans-serif;
	--font-family--code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	--font-family--pre: "Courier 10 Pitch", Courier, monospace;

	// FONT WEIGHTS
	--font-weight---regular: 400,;
	--font-weight---medium: 500;
	--font-weight---semibold: 600;
	--font-weight---bold: 700;
}

// --------------------------------------------
// Typography ---------------------------------
// --------------------------------------------
$font__sizes: (
	alpha:   ( 44px, 54px, 0px ),    // font-size, line-height, kerning (use '0' if don't want to output any kerning)
	beta:    ( 34px, 44px, 0px ),
	gamma:   ( 30px, 40px, 0px ),
	delta:   ( 24px, 34px, 0px ),
	epsilon: ( 20px, 30px, -0.1px ),
	zeta:    ( 18px, 28px, -0.1px ),
	eta:     ( 16px, 24px, -0.1px ),
	theta:   ( 14px, 20px, 0px )
);

$font__scale: (
	desktop: (                             // i.e. $breakpoint__m + $breakpoint__l (600 - 1024)
		1: map-get($font__sizes, alpha),   // H1
		2: map-get($font__sizes, beta),    // H2
		3: map-get($font__sizes, gamma),   // H3
		4: map-get($font__sizes, delta),   // H4
		5: map-get($font__sizes, epsilon), // Body, H5, H6
		6: map-get($font__sizes, zeta),    // Text small
		7: map-get($font__sizes, eta),     // Text smaller
		8: map-get($font__sizes, theta)    // Footer area
	),
	mobile: (                              // i.e. $breakpoint__xs + $breakpoint__s (up to 600)
		1: map-get($font__sizes, beta),    // H1
		2: map-get($font__sizes, gamma),   // H2
		3: map-get($font__sizes, delta),   // H3
		4: map-get($font__sizes, delta),   // H4
		5: map-get($font__sizes, epsilon), // Body, H5, H6
		6: map-get($font__sizes, zeta),    // Text small
		7: map-get($font__sizes, eta),     // Text smaller
		8: map-get($font__sizes, theta)    // Footer area
	)
);

$font__weight: (
	regular: 400, 	// font__weight(regular)
	medium: 500,	// font__weight(medium)
	semibold: 600,	// font__weight(semibold)
	bold: 700		// font__weight(bold)
);

// --------------------------------------------
// Structure ----------------------------------
// --------------------------------------------
$content__padding: (
	mobile: 16px,
	desktop:  24px
);
$container__width: 1080px;
$container__width-sm: 800px;
