/* stylelint-disable color-function-notation */

/*******************************************
							MEDIA QUERIES
// media::>small
@media (min-width: 481px) {}

// media::>medium
@media (min-width: 641px) {}

// media::>large
@media (min-width: 1025px) {}

// media::<=medium
@media (max-width: 640px) {}
*******************************************/

/*******************************************************
*******************FONT SIZE GOLDENS********************
********************************************************
**** alpha-size: 44px;
**** alpha-height: 54px;
**** alpha-kerning: 0;
****
**** beta-size: 34px;
**** beta-height: 44px;
**** beta-kerning: 0;
****
**** gamma-size: 30px;
**** gamma-height: 40px;
**** gamma-kerning: 0;
****
**** delta-size: 24px;
**** delta-height: 34px;
**** delta-kerning: 0;
****
**** epsilon-size: 20px;
**** epsilon-height: 30px;
**** epsilon-kerning: -0.1px;
****
**** zeta-size: 18px;
**** zeta-height: 28px;
**** zeta-kerning: -0.1px;
****
**** eta-size: 16px;
**** eta-height: 24px;
**** eta-kerning: -0.1px;
****
**** theta-size: 14px;
**** theta-height: 20px;
**** theta-kerning: 0;
********************************************************
********************************************************
*******************************************************/

:root {
	/* COLOR TYPOGRAPHY */
	--color--typography-1-raw: 26 32 44;
	--color--typography-1: rgb(26, 32, 44);
	--color--typography-2: #272c38;
	--color--typography-2--hover: #313847;
	--color--typography-3: #8a95a5;
	--color--typography-4: #9eabc0;
	--color--typography-1i-raw: 221 219 241;
	--color--typography-1i: #dddbf1;

	/* COLOR BG */
	--color--bg-1: #fff;
	--color--bg-2: #f3f5f8;
	--color--bg-3: #e4e8ee;

	/* PRIMARY COLORS
	 --color--primary-1: #7e6ee6; */
	--color--primary-1-raw: 94 59 77;
	--color--primary-1: #5e3b4d;
	--color--primary-1--hover: #420420;
	--color--primary-2: #e5e1ff;
	--color--primary-3: #5743df;
	--color--primary-4: #a59aee;

	/* SECONDARY COLORS */
	--color--secondary-1: rgb(90, 224, 210);
	--color--secondary-1--hover: #67e2d6;
	--color--secondary-2: #85e8de;
	--color--secondary-3: #2fd8c6;
	--color--secondary-4: #bdfdf6;


	/* FONT FAMILIES */
	--font-family--base: "Heebo", sans-serif;
	--font-family--heading: "PLayfair Display", sans-serif;
	--font-family--code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	--font-family--pre: "Courier 10 Pitch", courier, monospace;


	/* FONT WEIGHTS */
	--font-weight--regular: 400,;
	--font-weight--medium: 500;
	--font-weight--semibold: 600;
	--font-weight--bold: 700;


	/* FONT SIZING */

	/* H1 - size: beta */
	--font-scale-1--size: 34px;
	--font-scale-1--height: 44px;
	--font-scale-1--kerning: 0;

	/* H2 - size: gamma */
	--font-scale-2--size: 30px;
	--font-scale-2--height: 40px;
	--font-scale-2--kerning: 0;

	/* Size: delta */
	--font-scale-3--size: 24px;
	--font-scale-3--height: 34px;
	--font-scale-3--kerning: 0;

	/* H4 - size: delta */
	--font-scale-4--size: 24px;
	--font-scale-4--height: 34px;
	--font-scale-4--kerning: 0;

	/* Body, H5, H6 - size: epsilon */
	--font-scale-5--size: 20px;
	--font-scale-5--height: 30px;
	--font-scale-5--kerning: -0.1px;

	/* Small - size: zeta */
	--font-scale-6--size: 18px;
	--font-scale-6--height: 28px;
	--font-scale-6--kerning: -0.1px;

	/* Smaller - size: eta */
	--font-scale-7--size: 16px;
	--font-scale-7--height: 24px;
	--font-scale-7--kerning: -0.1px;

	/* Footer Area - size: theta */
	--font-scale-8--size: 14px;
	--font-scale-8--height: 20px;
	--font-scale-8--kerning: 0;
}

/* Large (Desktop) media queries */

/* media::>medium */
@media (min-width: 641px) {
	:root {
		/* Size: alpha */
		--font-scale-1--size: 44px;
		--font-scale-1--height: 54px;

		/* Size: beta */
		--font-scale-2--size: 34px;
		--font-scale-2--height: 44px;

		/* H3 - size: gamma */
		--font-scale-3--size: 30px;
		--font-scale-3--height: 40px;
	}
}

/* stylelint-enable color-function-notation */
