---
pagination:
  data: collections.posts
  size: 2
  alias: posts
permalink: "/blog{{#if pagination.pageNumber}}/page/{{offset pagination.pageNumber}}{{/if}}/index.html"
---
{{> "ghost"}}
<div class="gh-page">
	<div class="gh-container">
		<h1 class="gb-header">{{site.title}}</h1>
		<div class="gh-postfeed">
			{{#each posts}}
				{{> "post-card"}}
			{{/each}}
		</div>

	</div>
</div>

{{> "pagination" }}
