body {
	color: #333;
	margin: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	/* stylelint-disable */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	/* stylelint-enable */
	background: fixed url("../static/assets/school-generic.jpg") center no-repeat;
	background-size: cover;
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input.school {
	margin-left: 0.5em;
}

button {
	user-select: none;
	cursor: pointer;
	outline: 0;
	border: none;
	-webkit-tap-highlight-color: transparent;
	padding: 0 1rem;
	margin: 0;
	border-radius: 4px;
	font-size: 1rem;
	line-height: 2.5rem;
	font-weight: 500;
	background: #fff;
}

button:disabled,
input:disabled {
	color: #ccc;
}

button:hover {
	background-color: #eee;
}

button:focus,
button:not(:disabled):active {
	background-color: #ddd;
}

.error-message {
	color: darkred;
	width: 100%;
	margin: 0;
}

.space {
	margin-bottom: 8px;
}

.inline {
	display: inline;
}

.box {
	box-sizing: border-box;
	margin: 0 1rem;
	width: 100%;
	max-width: 450px;
	min-height: 350px;
	border-radius: 4px;
	box-shadow: /* stylelint-ignore */
		0 11px 15px -7px rgb(0 0 0 / 0.2),
		0 24px 38px 3px rgb(0 0 0 / 0.14),
		0 9px 46px 8px rgb(0 0 0 / 0.12);
	padding: 1.5rem;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.box .header {
	margin: 0;
}

.box main {
	flex: 1;
	margin-top: 2rem;
}

.box .footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

[hidden="true"] {
	display: none;
}

@keyframes spin {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 600px) {
	.box .footer {
		flex-direction: column;
	}
}
