/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */

@import "vars";
@import "components/global.css";

/* Ghost components */
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/badge.css";


/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html,
.gh-viewport {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: #fff;
}

.gh-main {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

.gh-page {
	padding: 0 4vw;
}

.gh-article {
	padding: 8vmin 0;
}

.gh-postfeed {
	/* padding-bottom: 8vmin; */
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 2.5rem;
	justify-content: center;
}

.pagination {
	padding: 8vmin 0;
	text-align: center;
	font-size: 2rem;
}

.pagination a {
	padding: 0 1rem;
	font-size: 2.25rem;
}

.pagination a:hover {
	text-decoration: none;
}

/* Index
/* ---------------------------------------------------------- */

.gh-card {
	border: 2px solid #5e3b4d;
	border-radius: 2rem;
}

.gh-card-link {
	display: flex;
	flex-direction: column;
}

.gh-card-image {
	border-top-left-radius: 1.75rem;
	border-top-right-radius: 1.75rem;
	width: 100%;
	object-fit: cover;
	margin-bottom: 4vmin;
}

.gh-card-meta {
	display: block;
	margin: 0 0 1rem;
	font-size: 1.4rem;
	line-height: 1.2em;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	opacity: 0.8;
}

.gh-card-title {
	padding: 0 0.75rem;
}

.gh-card-content {
	text-align: center;
	font-size: 1.6rem;
	padding-bottom: 4vmin;
}

.gh-card-content p {
	margin: 1.2rem 0;
	padding: 1.5rem;
	padding: 0 6vmin;
}

.gh-card-content > strong {
	display: inline-block;
	padding: 1px 0;
	font-weight: 500;
	box-shadow: 0 -1px 0 0 inset currentColor;
	opacity: 0.8;
	color: #5e3b4d;
}


/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
	margin: 0 auto;
	padding: 8vmin 0 4vmin;
	text-align: center;
}

.gh-page-image {
	margin: 4vmin auto 0 auto;
	max-height: 45vh;
	object-fit: contain;
}

@media (max-width: 700px) {
	.gh-page-head > p {
		font-size: 1.6rem;
	}
}


/* Post
/* ---------------------------------------------------------- */

.gh-header {
	padding: 0 0 8vmin 0;
	text-align: center;
}

.gh-post-meta {
	margin: -2rem 0 2.5rem 0;
	font-size: 1.75rem;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #44626f;
}

.gh-post-meta .divider {
	padding: 0 0.75ch;
}

.gh-excerpt {
	margin: 2.5rem 0 0 0;
}

.gh-feature-image {
	grid-column: wide-start / wide-end;
	width: 100%;
	margin: 8vmin 0 0;
	max-height: 25vh;
	object-fit: contain;
}

.gh-post-footer {
	margin: 2rem 0;
}


/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
	height: 12vmin;
	width: 12vmin;
	margin: 0 auto 1.5em;
	border-radius: 100%;
	overflow: hidden;
	object-fit: cover;
}

.gh-author-meta {
	margin: 2vmin 0 0 0;
	font-size: 1.2em;
}

.gh-author-links {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* stylelint-disable-next-line no-descending-specificity */
.gh-author-links a {
	position: relative;
	display: inline-flex;
	align-items: center;
	margin: 0 0.75vmin;
}

.gh-author-links a + a::before {
	display: block;
	content: "";
	margin: 0 1.25vmin 0 0;
	height: 1em;
	width: 1px;
	background: rgba(0, 0, 0, 0.3);
	transform: rotate(20deg);
}

@media (max-width: 700px) {
	.gh-author-meta {
		font-size: 1.6rem;
	}
}

.gb-header {
	text-align: center;
	padding: 4rem 0;
}

.gb-author-wrap {
	margin-top: 50px;
	margin-bottom: 60px;
	padding: 0;
}

.gb-author-avatar {
	float: left;
	padding: 20px;
}

.gb-author-avatar img {
	border-radius: 50%;
	height: auto;
	max-width: 100px;
}

.gb-author-name {
	font-size: 24px;
	line-height: 32px;
	margin-top: 4rem;
}

.gb-author-bio {
	font-size: 14px;
	line-height: 21px;
}

.hero {
	padding-top: 64px;
	padding-bottom: 64px;
	margin-bottom: 64px;
}
