---
fullTitle: Gradebook - The better Grade Tracker
description: Gradebook is a service designed by students to make grade tracking easy. Let's all get a little better at keeping track of our grades, together.
---
<section class="hero text-center text-light">
	<div class="container-sm">
		<div class="hero-inner">
			<div class="hero-copy">
				<img class="hero-title mt-0" src="/static/images/logo-text.png" alt="Gradebook" />
				<p class="hero-paragraph">Let's all get a little better at keeping track of our grades, together.</p>
				<div class="hero-cta">
					<a class="button button-primary button-wide-mobile login-button"
						href="https://gradebook.app/api/v0/session/begin?gb-login">Sign in with Google</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="features section">
	<div class="container">
		<div class="features-inner section-inner has-bottom-divider">
			<div class="features-header text-center">
				<div class="container-sm">
					<p class="section-title mt-0 is-revealing">Gradebook is a free app designed to help you keep track of your
						grades.</p>
					<img class="features-illustration is-revealing" src="/static/images/main.jpg"
						alt="Gradebook application screenshot">
				</div>
			</div>
			<div class="features-wrap">
				<div class="feature text-center is-revealing">
					<div class="feature-inner">
						<div class="feature-icon mb-16">
							<img src="/static/images/feature-04.svg" alt="Feature 1">
						</div>
						<div class="feature-content">
							<h4 class="feature-title mt-0 mb-8">Functional</h4>
							<p class="text-sm mb-0">Gradebook was designed by students, for students. We focus on providing better
								insights into your progress so that you can focus on what's most important.</p>
						</div>
					</div>
				</div>
				<div class="feature text-center is-revealing">
					<div class="feature-inner">
						<div class="feature-icon mb-16">
							<img src="/static/images/feature-01.svg" alt="Feature 2">
						</div>
						<div class="feature-content">
							<h4 class="feature-title mt-0 mb-8">Consolidated</h4>
							<p class="text-sm mb-0">Gradebook is your one-stop shop to keep track of your grades across all your
								courses at any school, on all your devices.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="features-wrap">
							<div class="feature text-center is-revealing">
								<div class="feature-inner">
									<div class="feature-icon mb-16">
										<img src="/static/images/feature-03.svg" alt="Feature 3">
									</div>
									<div class="feature-content">
										<h4 class="feature-title mt-0 mb-8">Discover</h4>
										<p class="text-sm mb-0">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise design.</p>
									</div>
								</div>
							</div>
							<div class="feature text-center is-revealing">
								<div class="feature-inner">
									<div class="feature-icon mb-16">
										<img src="/static/images/feature-04.svg" alt="Feature 04">
									</div>
									<div class="feature-content">
										<h4 class="feature-title mt-0 mb-8">Discover</h4>
										<p class="text-sm mb-0">A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise design.</p>
									</div>
								</div>
							</div>
						</div> -->
		</div>
	</div>
</section>

<section class="features-extended section">
	<div class="features-extended-inner section-inner">
		<div class="features-extended-header text-center">
			<div class="container-sm">
				<h2 class="section-title mt-0">What makes Gradebook awesome?</h2>
				<p class="section-paragraph">We strive to provide a fast, simple, and intuitive way to track your grades and
					constantly add features to support this.</p>
			</div>
		</div>
		<div class="features-extended-wrap">
			<div class="container">
				<div class="feature-extended">
					<div class="feature-extended-image is-revealing">
						<img src="/static/images/home-demo.jpg" alt="Simple, visual dashboard">
					</div>
					<div class="feature-extended-body is-revealing">
						<h3 class="mt-0">Simple, visual dashboard</h3>
						<p class="mb-0">View an overview of all your courses on your home page.</p>
						<!--<p class="mb-0">Collect grades, homeworks, labs, and quizzes into categories to accurately track your progress and completion.</p>-->
					</div>
				</div>
				<div class="feature-extended">
					<div class="feature-extended-image is-revealing">
						<img src="/static/images/insights.jpg" alt="Superior insights">
					</div>
					<div class="feature-extended-body is-revealing">
						<h3 class="mt-0">Superior insights</h3>
						<p class="mb-0">Understand how you need to do on your remaining assignments to earn each letter grade.</p>
					</div>
				</div>
				<div class="feature-extended">
					<div class="feature-extended-image is-revealing">
						<img src="/static/images/feedback.jpg" alt="Compute fractions in grades">
					</div>
					<div class="feature-extended-body is-revealing">
						<h3 class="mt-0">Constant improvement</h3>
						<p class="mb-0">We listen to feedback on current and possible features and act on it to make Gradebook even
							better.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <section class="pricing section text-light">
				<div class="container">
					<div class="pricing-inner section-inner">
						<h2 class="section-title mt-0 text-center">Simple, transarent pricing</h2>
						<div class="pricing-tables-wrap">
							<div class="pricing-table is-revealing">
								<div class="pricing-table-inner">
									<div class="pricing-table-main">
										<div class="pricing-table-header mb-24 pb-24">
											<div class="pricing-table-title text-sm mt-0 mb-12">Individual</div>
											<div class="pricing-table-price"><span class="pricing-table-price-currency">$</span><span class="pricing-table-price-amount h1">19</span>/m</div>
										</div>
										<div class="pricing-table-features-title text-xs mb-24">Top features</div>
										<ul class="pricing-table-features list-reset text-xs">
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
										</ul>
									</div>
									<div class="pricing-table-cta">
										<a class="button button-primary button-block" href="#">Free trial</a>
									</div>
								</div>
							</div>
							<div class="pricing-table is-revealing">
								<div class="pricing-table-inner">
									<div class="pricing-table-main">
										<div class="pricing-table-header mb-24 pb-24">
											<div class="pricing-table-title text-sm mt-0 mb-12">Agency</div>
											<div class="pricing-table-price"><span class="pricing-table-price-currency">$</span><span class="pricing-table-price-amount h1">49</span>/m</div>
										</div>
										<div class="pricing-table-features-title text-xs mb-24">Top features</div>
										<ul class="pricing-table-features list-reset text-xs">
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
										</ul>
									</div>
									<div class="pricing-table-cta">
										<a class="button button-primary button-block" href="#">Free trial</a>
									</div>
								</div>
							</div>
							<div class="pricing-table is-revealing">
								<div class="pricing-table-inner">
									<div class="pricing-table-main">
										<div class="pricing-table-header mb-24 pb-24">
											<div class="pricing-table-title text-sm mt-0 mb-12">Enterprise</div>
											<div class="pricing-table-price"><span class="pricing-table-price-currency">$</span><span class="pricing-table-price-amount h1">69</span>/m</div>
										</div>
										<div class="pricing-table-features-title text-xs mb-24">Top features</div>
										<ul class="pricing-table-features list-reset text-xs">
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
										</ul>
									</div>
									<div class="pricing-table-cta">
										<a class="button button-secondary button-block" href="#">Buy it now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> -->

<!-- <section class="testimonials section">
				<div class="container">
					<div class="testimonials-inner section-inner">
						<h2 class="section-title mt-0 text-center">Loved by users worldwide</h2>
						<div class="testimonials-wrap">
							<div class="testimonial is-revealing">
								<div class="testimonial-inner">
									<div class="testimonial-main mb-32">
										<div class="testimonial-rating mb-24">
											<img src="/static/images/5-stars.svg" alt="Rating">
										</div>
										<div class="testimonial-body">
											<p class="text-sm m-0">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
										</div>
									</div>
									<div class="testimonial-footer">
										<div class="testimonial-image">
											<img src="/static/images/testimonial-01.png" alt="Mark Walker">
										</div>
										<div class="testimonial-name text-sm">Mark Walker</div>
									</div>
								</div>
							</div>
							<div class="testimonial is-revealing">
								<div class="testimonial-inner">
									<div class="testimonial-main mb-32">
										<div class="testimonial-rating mb-24">
											<img src="/static/images/5-stars.svg" alt="Rating">
										</div>
										<div class="testimonial-body">
											<p class="text-sm m-0">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
										</div>
									</div>
									<div class="testimonial-footer">
										<div class="testimonial-image">
											<img src="/static/images/testimonial-02.png" alt="Marta Smirth">
										</div>
										<div class="testimonial-name text-sm">Marta Smirth</div>
									</div>
								</div>
							</div>
							<div class="testimonial is-revealing">
								<div class="testimonial-inner">
									<div class="testimonial-main mb-32">
										<div class="testimonial-rating mb-24">
											<img src="/static/images/5-stars.svg" alt="Rating">
										</div>
										<div class="testimonial-body">
											<p class="text-sm m-0">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
										</div>
									</div>
									<div class="testimonial-footer">
										<div class="testimonial-image">
											<img src="/static/images/testimonial-03.png" alt="Evan Hill">
										</div>
										<div class="testimonial-name text-sm">Evan Hill</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> -->

<section class="cta section text-light">
	<div class="container">
		<div class="cta-inner section-inner is-revealing">
			<h3 class="section-title mt-0">What are you waiting for?</h3>
			<div class="cta-cta">
				<a class="button button-primary button-wide-mobile login-button"
					href="https://gradebook.app/api/v0/session/begin?gb-login">Sign in with Google</a>
			</div>
		</div>
	</div>
</section>
