---
permalink: /404.html
eleventyExcludeFromCollections: true
noMeta: true
title: Page Not Found
---

<section class="general section is-revealing">
	<div class="general-inner section-inner">
		<div class="container-sm">
			<h1>Page Not Found!</h1>
			<p>You told your friends you weren’t bringing your phone, to try and experience what travel was like back in the day. You bought a map and a bottle of water and carried your camera for the money shot. But the map was from 2005 and the landscape had changed. So here you are, in the middle of a large field, that the map continues to claim is a local grocer.</p>
			<p><a href="/">Find your way back home!</a></p>
		</div>
	</div>
</section>
