---
fullTitle: The Gradebook Blog
description: Thoughts and updates from the Gradebook team
hideHeaderLogoText: true
pagination:
  data: collections.posts
  size: 15
  alias: posts
permalink: "blog{{#if pagination.pageNumber}}/page/{{offset pagination.pageNumber}}{{/if}}/index.html"
---
{{> "ghost"}}

{{#block "hero"}}
	<div class="container-sm">
		<div class="hero-inner">
			<div class="hero-copy">
				<h1 class="hero-summary hero-summary--sm">{{fullTitle}}</h1>
				<p class="hero-paragraph hero-paragraph--font-lg">{{description}}</p>
			</div>
		</div>
	</div>
{{/block}}

<div class="gh-page">
	<div class="gh-container">
		<div class="gh-postfeed">
			{{#each posts}}
				{{> "post-card"}}
			{{/each}}
		</div>
		{{> "pagination" }}
	</div>
</div>

