---
fullTitle: Gradebook - The Better Grade Tracker
description: Student-built, student-centered grade tracking app designed to help you take control of your grades
---

{{#block "hero"}}
	<div class="container-sm">
		<div class="hero-inner">
			<div class="hero-copy">
				<div class="hero-summary">
					<div>
						<span class="word" style="--delay: 0">Take</span>
						<span class="word" style="--delay: 1">Control</span>
					</div>
					<div>
						<span class="word" style="--delay: 3">Of</span>
						<span class="word" style="--delay: 4">Your</span>
						<span class="word" style="--delay: 5">Grades</span>
					</div>
				</div>
				<p class="hero-paragraph">
					Free grade tracking, built by students
				</p>
				{{> login-button style="--delay: 5"}}
			</div>
		</div>
	</div>
{{/block}}

<section class="section intro-story">
	<div class="container-sm has-bottom-divider">
		<h2 class="text-center">Grade tracking designed to work for <span class="uline">you</span></h2>
		<p class="section-paragraph mb-0 text-center">
			No more spreadsheets.
		</p>
		<p class="section-paragraph mb-0 text-center">
			No more confusing websites.
		</p>
		<p class="section-paragraph mb-0 text-center">
			<strong>We'll handle the math.</strong>
		</p>
		<div class="text-center">
			<img
				{{!-- js-reveal-feature-illustration --}}
				class="js-r-fi is-revealing min-h-33"
				src="/static/images/index/course.jpg"
				alt="Gradebook application screenshot"
			/>
		</div>
	</div>
</section>
<hr class="divider container">
<section class="features-extended section">
	<div class="features-extended-header text-center">
		<div class="container-sm">
			<h2 class="section-title mt-0">How can Gradebook help?</h2>
			<p class="section-paragraph">
				Easy, intuitive, and featureful grade tracking
			</p>
		</div>
	</div>
	<div class="features-extended-wrap">
		<div class="container">
			<div class="feature-extended">
				<div class="feature-extended-image is-revealing">
					<img
						src="/static/images/index/semester-dashboard.jpg"
						alt="Screenshot of a Gradebook Semester dashboard, which contains visual progress bars to show how you're doing in all of your courses"
					/>
				</div>
				<div class="feature-extended-body is-revealing">
					<h3 class="mt-0">Visual dashboard</h3>
					<p class="mb-0">
						See how you're doing across <strong>all</strong> of your courses
					</p>
					<!--<p class="mb-0">Collect grades, homeworks, labs, and quizzes into categories to accurately track your progress and completion.</p>-->
				</div>
			</div>
			<div class="feature-extended">
				<div class="feature-extended-image is-revealing">
					<img
						src="/static/images/index/whats-needed.jpg"
						alt="Screenshot of the What's Needed section from a Course Dashboard"
					/>
				</div>
				<div class="feature-extended-body is-revealing">
					<h3 class="mt-0">No more guessing</h3>
					<p class="mb-0">
						Find out what you need to earn each letter grade
					</p>
				</div>
			</div>
			<div class="feature-extended">
				<div class="feature-extended-image is-revealing">
					<img
						src="/static/images/index/experiment.jpg"
						alt="Screenshot of the What's Needed section from a Course Dashboard"
					/>
				</div>
				<div class="feature-extended-body is-revealing">
					<h3 class="mt-0">Experiment with ease</h3>
					<p class="mb-0">
						See how different grades will affect your average
					</p>
				</div>
			</div>
			<div class="feature-extended">
				<div class="feature-extended-image is-revealing">
					<img
						src="/static/images/index/insights.jpg"
						alt="Screenshot of the What's Needed section from a Course Dashboard"
					/>
				</div>
				<div class="feature-extended-body is-revealing">
					<h3 class="mt-0">GPA Insights</h3>
					<p class="mb-0">
						Harness tailored insights to maximize your GPA
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<hr class="divider container">

<!-- <section class="pricing section text-light">
				<div class="container">
					<div class="pricing-inner section-inner">
						<h2 class="section-title mt-0 text-center">Simple, transarent pricing</h2>
						<div class="pricing-tables-wrap">
							<div class="pricing-table is-revealing">
								<div class="pricing-table-inner">
									<div class="pricing-table-main">
										<div class="pricing-table-header mb-24 pb-24">
											<div class="pricing-table-title text-sm mt-0 mb-12">Individual</div>
											<div class="pricing-table-price"><span class="pricing-table-price-currency">$</span><span class="pricing-table-price-amount h1">19</span>/m</div>
										</div>
										<div class="pricing-table-features-title text-xs mb-24">Top features</div>
										<ul class="pricing-table-features list-reset text-xs">
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
										</ul>
									</div>
									<div class="pricing-table-cta">
										<a class="button button-primary button-block" href="#">Free trial</a>
									</div>
								</div>
							</div>
							<div class="pricing-table is-revealing">
								<div class="pricing-table-inner">
									<div class="pricing-table-main">
										<div class="pricing-table-header mb-24 pb-24">
											<div class="pricing-table-title text-sm mt-0 mb-12">Agency</div>
											<div class="pricing-table-price"><span class="pricing-table-price-currency">$</span><span class="pricing-table-price-amount h1">49</span>/m</div>
										</div>
										<div class="pricing-table-features-title text-xs mb-24">Top features</div>
										<ul class="pricing-table-features list-reset text-xs">
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
										</ul>
									</div>
									<div class="pricing-table-cta">
										<a class="button button-primary button-block" href="#">Free trial</a>
									</div>
								</div>
							</div>
							<div class="pricing-table is-revealing">
								<div class="pricing-table-inner">
									<div class="pricing-table-main">
										<div class="pricing-table-header mb-24 pb-24">
											<div class="pricing-table-title text-sm mt-0 mb-12">Enterprise</div>
											<div class="pricing-table-price"><span class="pricing-table-price-currency">$</span><span class="pricing-table-price-amount h1">69</span>/m</div>
										</div>
										<div class="pricing-table-features-title text-xs mb-24">Top features</div>
										<ul class="pricing-table-features list-reset text-xs">
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
										</ul>
									</div>
									<div class="pricing-table-cta">
										<a class="button button-secondary button-block" href="#">Buy it now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> -->

<section class="testimonials container section">
	<h2 class="section-title mt-0 text-center">Don't take our word for it...</h2>
	<div class="testimonials-wrap">
		<div class="testimonial is-revealing mb-32">
			<div class="testimonial-inner">
				<p class="text-sm m-0">
					"I absolutely love Gradebook and recommend it to all of my friends that don't know about it."
				</p>
			</div>
		</div>
		<div class="testimonial is-revealing mb-32">
			<div class="testimonial-inner">
				<p class="text-sm m-0">
					"I love the Visual Progress bar because it helped me see how hard I needed to work in my classes to get the grades I wanted."
				</p>
			</div>
		</div>
		<div class="testimonial is-revealing mb-32">
			<div class="testimonial-inner">
				<p class="text-sm m-0">
					"Love the design, easy to use, and like that it helps me keep track of my GPA."
				</p>
			</div>
		</div>
	</div>
</section>

<section class="cta section text-light">
	<div class="container">
		<div class="cta-inner section-inner is-revealing">
			<h3 class="section-title mt-0">What are you waiting for?</h3>
			{{> login-button}}
		</div>
	</div>
</section>

{{#block "footer"}}
<script type="text/javascript" src="{{asset "facebook.js"}}"></script>
{{/block}}
