---
fullTitle: Gradebook - The Better Grade Tracker
description: Better grades, together. Gradebook is a free app designed by students to make grade tracking easy.
---

{{#block "hero"}}
	<div class="container-sm">
		<div class="hero-inner">
			<div class="hero-copy">
				<div class="hero-summary">
					<div>
						<span class="word" style="--delay: 1">Grade</span>
						<span class="word" style="--delay: 1.75">Tracking,&nbsp;</span><wbr>
					</div>
					<div>
						<span class="word" style="--delay: 4">For</span>
						<span class="word" style="--delay: 5">Students</span>
					</div>
				</div>
				<p class="hero-paragraph">
					There weren't any good grade management tools,<br/>so we built one!
				</p>
				{{> login-button style="--delay: 6"}}
			</div>
		</div>
	</div>
{{/block}}

<section class="features section">
	<div class="container-sm has-bottom-divider">
		<h2 class="text-center">We help <span class="uline">you</span> take control of your grades</h2>
		<p class="section-paragraph mb-0 text-center">
			Learning is hard, even before factoring in grading.
		</p>
		<p class="section-paragraph mb-0 text-center">
			Add in the unpredictability of your courses, and you've got a recipe for chaos
		</p>
		<p class="section-paragraph mt-0 text-center">
			<strong>Gradebook helps brings order to your chaotic life</strong>
		</p>
		<div class="text-center">
			<img
				{{!-- js-reveal-feature-illustration --}}
				class="js-r-fi is-revealing"
				src="/static/images/index/course.jpg"
				alt="Gradebook application screenshot"
			/>
		</div>
	</div>
</section>
<hr class="divider container">
<section class="features-extended section">
	<div class="features-extended-header text-center">
		<div class="container-sm">
			<h2 class="section-title mt-0">How can Gradebook help you?</h2>
			<p class="section-paragraph">
				We provide an easy, intuitive, and featureful way to track your grades.
			</p>
		</div>
	</div>
	<div class="features-extended-wrap">
		<div class="container">
			<div class="feature-extended">
				<div class="feature-extended-image is-revealing">
					<img
						src="/static/images/index/semester-dashboard.jpg"
						alt="Screenshot of a Gradebook Semester dashboard, which contains visual progress bars to show how you're doing in all of your courses"
					/>
				</div>
				<div class="feature-extended-body is-revealing">
					<h3 class="mt-0">Visual dashboard</h3>
					<p class="mb-0">
						<strong>See</strong> how you're doing across all your courses - all in one place
					</p>
					<!--<p class="mb-0">Collect grades, homeworks, labs, and quizzes into categories to accurately track your progress and completion.</p>-->
				</div>
			</div>
			<div class="feature-extended">
				<div class="feature-extended-image is-revealing">
					<img
						src="/static/images/index/whats-needed.jpg"
						alt="Screenshot of the What's Needed section from a Course Dashboard"
					/>
				</div>
				<div class="feature-extended-body is-revealing">
					<h3 class="mt-0">Superior insights</h3>
					<p class="mb-0">
						Understand what you need to score on your remaining assignments to earn a letter grade.
					</p>
				</div>
			</div>
			<div class="feature-extended">
				<div class="feature-extended-image is-revealing">
					<img
						src="/static/images/index/experiment.jpg"
						alt="Screenshot of the What's Needed section from a Course Dashboard"
					/>
				</div>
				<div class="feature-extended-body is-revealing">
					<h3 class="mt-0">No More Guessing</h3>
					<p class="mb-0">
						With Experimental Mode, you can see how earning different grades across assignments will affect your average
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="features-wrap">
		<div class="feature text-center is-revealing">
			<div class="feature-inner">
				<div class="feature-icon mb-16">
					<img src="/static/images/feature-04.svg" alt="">
				</div>
				<div class="feature-content">
					<h4 class="feature-title mt-0 mb-8">Functional</h4>
					<p class="text-sm mb-0">
						Gradebook was designed by students, for students. We focus on providing better insights into your progress so
						that you can focus on what's most important.
					</p>
				</div>
			</div>
		</div>
		<div class="feature text-center is-revealing">
			<div class="feature-inner">
				<div class="feature-icon mb-16">
					<img src="/static/images/feature-01.svg" alt="">
				</div>
				<div class="feature-content">
					<h4 class="feature-title mt-0 mb-8">Consolidated</h4>
					<p class="text-sm mb-0">
						Gradebook is your one-stop shop to keep track of your grades across all your courses at any school, on all
						your devices.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<hr class="divider container">

<!-- <section class="pricing section text-light">
				<div class="container">
					<div class="pricing-inner section-inner">
						<h2 class="section-title mt-0 text-center">Simple, transarent pricing</h2>
						<div class="pricing-tables-wrap">
							<div class="pricing-table is-revealing">
								<div class="pricing-table-inner">
									<div class="pricing-table-main">
										<div class="pricing-table-header mb-24 pb-24">
											<div class="pricing-table-title text-sm mt-0 mb-12">Individual</div>
											<div class="pricing-table-price"><span class="pricing-table-price-currency">$</span><span class="pricing-table-price-amount h1">19</span>/m</div>
										</div>
										<div class="pricing-table-features-title text-xs mb-24">Top features</div>
										<ul class="pricing-table-features list-reset text-xs">
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
										</ul>
									</div>
									<div class="pricing-table-cta">
										<a class="button button-primary button-block" href="#">Free trial</a>
									</div>
								</div>
							</div>
							<div class="pricing-table is-revealing">
								<div class="pricing-table-inner">
									<div class="pricing-table-main">
										<div class="pricing-table-header mb-24 pb-24">
											<div class="pricing-table-title text-sm mt-0 mb-12">Agency</div>
											<div class="pricing-table-price"><span class="pricing-table-price-currency">$</span><span class="pricing-table-price-amount h1">49</span>/m</div>
										</div>
										<div class="pricing-table-features-title text-xs mb-24">Top features</div>
										<ul class="pricing-table-features list-reset text-xs">
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
										</ul>
									</div>
									<div class="pricing-table-cta">
										<a class="button button-primary button-block" href="#">Free trial</a>
									</div>
								</div>
							</div>
							<div class="pricing-table is-revealing">
								<div class="pricing-table-inner">
									<div class="pricing-table-main">
										<div class="pricing-table-header mb-24 pb-24">
											<div class="pricing-table-title text-sm mt-0 mb-12">Enterprise</div>
											<div class="pricing-table-price"><span class="pricing-table-price-currency">$</span><span class="pricing-table-price-amount h1">69</span>/m</div>
										</div>
										<div class="pricing-table-features-title text-xs mb-24">Top features</div>
										<ul class="pricing-table-features list-reset text-xs">
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
											<li><span>Excepteur sint occaecat velit</span></li>
										</ul>
									</div>
									<div class="pricing-table-cta">
										<a class="button button-secondary button-block" href="#">Buy it now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> -->

<section class="testimonials container section">
	<h2 class="section-title mt-0 text-center">Don't take our word for it...</h2>
	<div class="testimonials-wrap">
		<div class="testimonial is-revealing mb-32">
			<div class="testimonial-inner">

			<p class="text-sm m-0">
				"I absolutely love Gradebook and recommend it to all of my friends that don't know about it."
			</p>
		</div>
			</div>
		<div class="testimonial is-revealing mb-32">
			<div class="testimonial-inner">

			<p class="text-sm m-0">
				"I love the Visual Progress bar because it helped me see how hard I needed to work in my classes to get the grades I wanted."
			</p>
		</div>
			</div>
		<div class="testimonial is-revealing mb-32">
			<div class="testimonial-inner">

			<p class="text-sm m-0">
				"Love the design, easy to use, and like that it helps me keep track of my GPA."
			</p>
		</div>
			</div>
	</div>
</section>

<section class="cta section text-light">
	<div class="container">
		<div class="cta-inner section-inner is-revealing">
			<h3 class="section-title mt-0">What are you waiting for?</h3>
			{{> login-button}}
		</div>
	</div>
</section>

{{#block "footer"}}
<script type="text/javascript" src="{{asset "facebook.js"}}"></script>
{{/block}}
