---
title: Meet the Team
description: Meet the people that make Gradebook
---
<section class="team section">
	<div class="team-inner section-inner">
		<div class="team-header text-center">
			<div class="container-sm">
				<h2 class="section-title mt-0">Meet the Team!</h2>
				<p class="section-paragraph">We are group of individuals dedicated to bringing expectional products to
					help students and educators. Get to know us a little bit!</p>
			</div>
		</div>
		<div class="image-block-wrap">
			<div class="container">
				<div class="image-block-item">
					<div class="image-block-item-image is-revealing">
						<img src="https://avatars3.githubusercontent.com/u/43763502" alt="Josh Costa">
					</div>
					<div class="image-block-item-body is-revealing">
						<h3 class="mt-0">Josh Costa</h3>
						<p class="mb-0">Hey there! I created Gradebook in the Summer of 2018 to share the way that I
							personally keep track of my grades with friends at school. What started at first as bar graphs on my
							dorm room whiteboard has now become a full-blown web application available for free to students
							anywhere. I primarily focus on adding new features, enhancing user experience, and our long-term
							planning.</p>
					</div>
				</div>
				<div class="image-block-item">
					<div class="image-block-item-image is-revealing">
						<img src="https://s.gravatar.com/avatar/4c8d81cd17c391ced235388df520fb2b?s=512" alt="Vikas Potluri">
					</div>
					<div class="image-block-item-body is-revealing">
						<h3 class="mt-0">Vikas Potluri</h3>
						<p class="mb-0">Howdy! I joined Gradebook in March 2019 because I had ideas to make it more useful,
							and personally use it for managing my grades. I'm blown away with the number of people that find it
							useful, and I'm thrilled to be helping so many people! I manage our infrastructure, engineering
							practices, and application security to ensure Gradebook is fast, safe, and easy to use.</p>
					</div>
				</div>
				<div class="image-block-item">
					<div class="image-block-item-image is-revealing">
						<img src="https://s.gravatar.com/avatar/21d54480462d757eca000c19a96d52c1?s=512" alt="Ramsay Smith">
					</div>
					<div class="image-block-item-body is-revealing">
						<h3 class="mt-0">Ramsay Smith</h3>
						<p class="mb-0">I also joined Gradebook in the Spring of 2019 with ideas on improving our design and
							serving more students. It's been awesome to receive such positive feedback about our service and I
							look forward to continuing to grow our service and help more students track their grades! I am our
							frontend and mobile developer, and I also serve as our business and financial manager.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
