---
title: Thank you!
eleventyExcludeFromCollections: true
---

<section class="general section is-revealing">
	<div class="general-inner section-inner">
		<div class="container-sm">
			<h1>Thank you!</h1>
			<p>Thank you for supporting our continued work to develop products for student success.</p>
			<div class="m-auto text-center">
				{{inline-svg "/static/inline/thank-you.svg" class="m-auto pb-64 w-50p"}}
				<a
					class="js-auth-redirect m-auto button button-primary button-wide-mobile"
					href="{{site.auth}}/api/v0/session/redirect"
				>
					Return to Gradebook
				</a>
			</div>
		</div>
	</div>
</section>
