.page-wrapper {
	margin-bottom: 15vh;
}

.tool-entrypoint {
	display: block;
	margin-top: 1rem;
	border: 1px solid var(--color--primary-3);
	border-radius: 15px;
	min-width: 100%;
	min-height: 75vh;
	padding: 15px;
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tool-entrypoint:focus-within {
	box-shadow: 0 1px 6px 0 rgba(87 67 223 / 0.25), 0 1px 4px 0 rgba(87 67 223 / 0.1);
	transform: scale(0.99);
}

.app-cta {
	color: var(--color--typography-1);
	background: rgba(58 57 148 / 0.3);
	padding: 1rem;
	border-radius: 10px;
}

.cta-link {
	background: var(--color--primary-3);
	color: var(--color--bg-3i);
	border-radius: 15px;
	padding: 0.25rem 1rem;
	margin-left: 12px;
}
